<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   

	<body>
		<div *ngIf="user.role == 0 || user.role == 1 || user.role == 2 || user.role == 3">
			<app-nav-menu [userID]="user"></app-nav-menu> 
		</div>
			
		<div id="booking" class="section">
			<div class="section-center">
				<div class="container">
					<div class="row">
						<div class="booking-cta">
							<h1>Make Your Reservation</h1>
						</div>
						<div class="booking-form">
							<form>
								<div class="col-md-8">
									<div class="form-group">
										<span class="form-label">Destination</span>
										<input class="form-control" type="text" placeholder="Enter Address, zip, city or airport">
									</div>
								</div>
								
								<div class="col-md-2">
									<div class="form-group">
										<span  class="form-label">Baby seats</span>
										<select class="form-control">
											<option>0</option>
											<option>1</option>
											<option>2</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<span class="form-label">Check In</span>
										<input class="form-control" type="date" required>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<span class="form-label">Check out</span>
										<input class="form-control" type="date" required>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-btn">
										<button class="submit-btn" routerLink ="/rent-a-car-filtered">Check availability</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div [hidden]="allrentcars.length === 0">
						<app-rent-a-car-filtered [allrentcars]="allrentcars"></app-rent-a-car-filtered>
					</div>
					<div [hidden]="allrentcars.length !== 0">
						<h5 style="font-size: 16px; color: #4fa3e3; font-weight: 100; text-align: center;">TRENUTNO NEMA DOSTUPNIH LETOVA KOJI ZADOVALJAVAJU ZADATE PARAMETRE.</h5>
					</div>
				</div>
			</div>
		</div>

		
	</body>
