<div class="row">
    <div class="topnav col-md-6">
        <a style="float: left;" routerLink ="/airline">FLIGHT</a>
        <a style="float: left;" routerLink ="/rent-a-car" >CAR</a>
        <a style="float: left;" routerLink ="/airline-table">Airlines</a>
        <a style="float: left;" routerLink ="/rent-a-car-table" >Car Companies</a>
        
    </div>
    <div  class="topnav col-md-6">
        <a style="float: right;" routerLink ="/sign-in">SING IN</a>
        <a style="float: right;" routerLink ="/sign-up">SING UP</a>
    </div>
</div> 