<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400" rel="stylesheet">
  </head>
  <body>

    
    <div class="profile-card">
        <div class="main-container">
            <p style="float: right; margin-right: 50px;"><i style="color:yellow;" class="fas fa-star info"></i>Average grade: {{CarElement.RateOfCar}}</p>
            <br>
            <hr>
            <p><i class="fas fa-car info"></i>Rent car company: {{ data.car.model}}</p>
            <p><i class="fas fa-calendar-alt info"></i>{{ data.car.model}}</p>
            <p><i class="fas fa-clock info"></i>Time start:</p>
            <p><i class="far fa-calendar-alt info"></i>Working to: </p>
            <p><i class="far fa-clock info"></i>Time ends:  </p>
            <p><i class="fas fa-dollar-sign info"></i>Price: </p>
            <p><i class="fas fa-car-side info"></i>Stops: 
           
             
           
            
            </p>
            
            <hr>
            <br>
            <input type="number" #numberSeats name="numberSeats" value="1">
            <button class="btn"  type="button">Reserve</button>
        </div>
    </div>
    </body>
    </html>