<hr/>
<h5  class="booking-cta" >Rezultati filtriranja po zadatim parametrima</h5>
<table class="table table-hover">
    <thead class="booking-cta">
        <tr>
            <th scope="col">name:</th>
            <th scope="col"> address:</th>
            <th scope="col">description:</th>
            <th scope="col">mark:</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let airline of allAirline">
            <td>{{airline.name}}</td>
            <td>{{airline.address}}</td>
            <td>{{airline.description}}</td>
            <td>{{airline.mark}}</td>
        </tr>
    </tbody>
</table>
