
<div>
    <app-nav-menu></app-nav-menu> 
</div>
<div class="header">
    <div class="headerTitle">YOUR RESERVATIONS </div>
</div>
<div class="mainDiv">
    <div class="row">
        <div class="col-md-6">
            <div class="headerTitle2">YOUR FLIGHT RESERVATIONS </div>
        </div>
        <div class="col-md-6">
            <div class="headerTitle2">YOUR CAR RESERVATIONS </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table  class="table table-hover">
                <thead>
                    <tr >
                        <th class="th-info">Depart:</th>
                        <th class="th-info" >Landing:</th>
                        <th class="th-info">Transit:</th>
                        <th class="th-info">Duration:</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngIf="flightReservations.length > 0">
                    <tr  *ngFor="let Reservedflight of flightReservations">
                        <td>{{Reservedflight.flight.flyingfrom}} <br> {{Reservedflight.flight.dateDepart | date:'medium' }}</td>
                        <td> {{Reservedflight.flight.flyingTo}} <br> {{Reservedflight.flight.dateArrival | date:'medium' }}</td>
                        <td> {{Reservedflight.flight.numberTransit}} </td>
                        <td> h:m:s <br> {{Reservedflight.flight.flightDuration | date: "H:m:s" }} </td>
                        <td>
                        Price:<span class="price-text">{{Reservedflight.flight.ticketPrice*Reservedflight.numberOfReservedSeats}}€</span> <br/>
                        <button class="buttonCancellations" (click)="buttonCancellations(Reservedflight.flight)">Cancellations</button></td>
                            
                    </tr>
                </tbody> 
                <tbody *ngIf="flightReservationsRequests.length > 0">
                    <tr *ngFor="let Requestsflight of flightReservationsRequests">
                        <td>{{Requestsflight.flight.flyingfrom}} <br> {{Requestsflight.flight.dateDepart | date:'medium' }}</td>
                        <td> {{Requestsflight.flight.flyingTo}} <br> {{Requestsflight.flight.dateArrival | date:'medium' }}</td>
                        <td> {{Requestsflight.flight.numberTransit}} </td>
                        <td> h:m:s <br> {{Requestsflight.flight.flightDuration | date: "H:m:s" }} </td>
                        <td>
                            Ticket Price:<span class="price-text">{{Requestsflight.flight.ticketPrice}}€</span> <br/>
                            <button  class="buttonAccept"  (click)="buttonAccept()">
                                Accept
                            </button>
                            <button  class="buttonReject"  (click)="buttonReject()">
                                Reject
                            </button>
                        </td>
                    </tr>
                </tbody> 
            </table>
        </div>
        <div class="col-md-6">
            <table  class="table table-hover">
                <thead>
                        <tr>
                            <th class="th-info">Location and Price:</th>
                            <th class="th-info">Pickup and return date: </th>
                            
                            <th class="th-info">Brand and model:</th>
                            <th class="th-info" ></th>
                            
                        </tr>
                
                </thead>
                <tbody *ngIf="allReservations.length > 0">
                    <tr  *ngFor="let ReservedCar of allReservations"  style="text-align: center; vertical-align: middle;">
                        <td>{{ReservedCar.car.location}} <br> {{ReservedCar.totalPrice}} $ </td>
                        <td> {{ReservedCar.checkedInDate | date:'medium' }} <br> {{ReservedCar.checkedOutDate | date:'medium' }}</td>
                        <td> {{ReservedCar.car.brand}} <br> {{ReservedCar.car.model}} </td>             
                        <td>
                      
                        <button class="buttonCancellations" (click)="buttonCancellationsCarReservation(ReservedCar)">Cancellations</button></td>
                            
                    </tr>
                </tbody> 
            </table>
        </div>
    </div>
</div>