<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- <app-nav-menu [userID]="id"></app-nav-menu> -->

<app-nav-menu [user]="user"></app-nav-menu>

<div class="col-md-9 personal-info">
    
    <h3>Personal info</h3>
    
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-lg-3 control-label">First name:</label>
        <div class="col-lg-8">
          <input class="form-control" type="text"  value={{user.name}}>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Last name:</label>
        <div class="col-lg-8">
          <input class="form-control" type="text" value={{user.surname}}>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-lg-3 control-label">Email:</label>
        <div class="col-lg-8">
          <input class="form-control" type="text" value={{user.email}}>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 control-label">Phone Number:</label>
        <div class="col-lg-8">
          <input class="form-control" type="tel" value={{user.phone}}>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-3 control-label">Password:</label>
        <div class="col-md-8">
          <input class="form-control" type="password" value={{user.password}}>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Confirm password:</label>
        <div class="col-md-8">
          <input class="form-control" type="password" value={{user.password}}>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <button type="submit" class="btn btn-primary" (click)="saveChanges()" >Save Changes</button>
        </div>
      </div>
      
    </form>
  
  </div>