

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div>
    <form class="form-inline" style="text-align: right; padding: 20px 20px 20px;" >
        <input class="form-control mr-sm-2"  type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Friends</button>
    </form>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th style="color: #4fa3e3;font-weight: 100; text-align: center;" scope="col">First Name:</th>
            <th style="color: #4fa3e3;font-weight: 100; text-align: center;"  scope="col">Last Name:</th>
            <th style="color: #4fa3e3;font-weight: 100; text-align: center;"  scope="col">Accepted:</th>
          </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>